@media only screen and (max-width: 600px) {
  .cont {
    flex-wrap: wrap;
  }

  .cont > div {
    margin: 0;
  }
}

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cont > div {
  width: 100%;
  margin: 1rem;
}

.title {
  margin-top: 3rem;
}
